<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="defaultAppender" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File" value="/tmp/forum.log"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyyMMdd;HH:mm:ss,SSS};%x;%5p;%c{3};%m%n"/>
      </layout>
   </appender>
   
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
	</appender>


   <logger name="com.blogging">
      <level value="debug"/>
   </logger>

   <root>
      <priority value="warn"/>
      <appender-ref ref="defaultAppender"/>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
